*{
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: gray;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    
}

.logo{
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.8em;
}

.navigation a{
    color: red;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: greenyellow;
}

section {
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(IMAGES/POWER.jpg) no-repeat;
    background-size: cover;
    background-position: right right;
    background-attachment: fixed;

}

.main h2{
    color: white;
    font-size: 1.6em;
    font-size: 500;
}
.main h2 span{
    display: inline-block;
    margin-top: 30px;
    color: blue;
    font-size: 1em;
    font-weight: 600;
}

.main h3 {
    color: white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: white;
    background-color: blue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 700;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 50px;
    transition: 0.5s ease;

}
.main-btn:hover {
    background-color: blueviolet;
    transform: scale(1.1 , 1.1);
}


.social-icons a{
    color: white;
    font-size: 1.7em;
    padding-right: 30px;

}

.title {
    display: flex;
    justify-content: center;
    color: blue;
    font-size: 2.5em;
    font-weight: 800;
    margin-bottom: 30px;

}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 17%);
    padding: 25px;
    margin: 15px;
    transition: 0.6s ease;
}

.card:hover{
    transform: scale(1.1);
}

.icon {
    color: blue;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: blue;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects {
    background-color: white;
}
.projects .content {
    margin-top: 30px;

}

.project-card{
    background-color: white;
    border: 10px solid rgb(0, 145, 255);
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.6s ease;
}
.project-card:hover {
    transform: scale(1.1);
}

.project-card .project-image:hover {
    opacity: 0.9;
}

.project-image img{
    width: 100%

}

.project-info {
    padding: 1em;

}

.project-category {
    font-size: 0.8em;
    color: black;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: blue;
}

.more-details:hover {
    color: blueviolet;
}

.contact .icon {
    font-size: 4.8em;
}




.contact .info h3 {
    color: black;
}

.contact .info p{
    font-size: 1.4em;
}

.footer {
    background-color: black;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.4em;
    font-weight: 600;
}


.footer-title span {
    color: blue;
}


@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h2{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 1.4em;
    }
}


@media (max-width:300px){
    body{
        font-size: 10px;
        
    }
}